body {
	background-image: url("bg.JPG");
}
h1 {
	text-transform: uppercase;
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: white;
	padding-bottom:3%;
	padding-top:2%;
}
h3 {
	text-transform: uppercase;
	color: white;
}
h4{
	color:white;
}